#color{
    color: yellow;
}
body{
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}
header{ 

    display: flex;
    background-color: rgb(253, 206, 175);
    justify-content: space-between;
    padding: 15px;
}
ul{ 
    list-style: none;

}
li{
    display: inline;
    margin: 5px;
    color:rgb(80, 46, 112);
}
 section{
    background-color: white;
    margin: 40px 150px 30px;
    padding: 20px;
    color:palevioletred;

}
article{
   border-bottom: 3px solid black;
   margin: 20 px;
   color: black;
}

footer{
   background-color: black;
   text-align: center;
   padding: 10px;
   color: white;
}
h1{
   text-align: center;
   color: black;
}

a{
    text-decoration: none;
}
